.work-line{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    width: 10px;
    background-color:rgb(216, 48, 48);
    position: relative;
    left: 50%;
    top:-30px ;
    z-index:-1;
    margin: auto;
 }
 .timeline{
    margin-top:-13px;
 }
 .experience{
    /* margin: 20px 0px 0px 80px; */
    
 }